<div class="img-logo" fxLayout="column" fxLayoutAlign="center center">
  <img src="assets/logomovie.png" width="80" height="100">
  <h3>CADASTRO</h3>
</div>
<div class="cadastro-user" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field appearance="outline" class="input-cadastro">
    <mat-label>Digite seu Nome Completo</mat-label>
    <input matInput [(ngModel)]="usuario.nome">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-cadastro">
    <mat-label>Selecione sua Categoria</mat-label>
    <mat-select>
      <mat-option value="comum"  >Usuário Comum</mat-option>
      <mat-option value="critico" >Crítico de Cinema</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="input-cadastro">
    <mat-label>Digite seu Email</mat-label>
    <input matInput placeholder="user@example.com" [formControl]="email" required [(ngModel)]="usuario.email">
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="input-cadastro">
    <mat-label>Digite sua Senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.senha">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="inserirUsuario()">Cadastrar</button>
</div>
