<div class="form-search">
  <mat-form-field appearance="fill" class="search"  >
    <mat-label>Buscar Séries</mat-label>
    <input matInput>
  </mat-form-field>
</div>
<h1 class="text-section">Em Alta</h1>
<div fxLayout="row" fxLayoutAlign="center none" class="cards">
  <div class="series">
    <img src="https://www.themoviedb.org/t/p/original/bOggWFHLSn0MgDpiInbvurx2m1X.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/a80pxtZrNSyqrME9rmFC6sZevZ7.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/i0uajcHH9yogXMfDHpOXexIukG9.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/7LMSllDXEVBBwY7yQop2CY0AW7I.jpg" width="280" height="300">
  </div>

</div>

<h1 class="text-section">Vencedoras do Emmy</h1>
<div fxLayout="row" fxLayoutAlign="center none" class="cards">
  <div class="series">
    <img src="https://www.themoviedb.org/t/p/original/ehUMAA3qDR5HNor9DB60g72KNQZ.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/ubWpLTkwcms5PfZJMFZkNXVYXqJ.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/qcrYi8iPu8e5Gsp4sSN9tX4Zeki.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/h0J27OZN6SEnsPQ52TP1em4NGA4.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/4cGbJ7fSg53cwEZN8DeXp5qlBg1.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/4oVWbd2NKglFG9UO46VhW4v6nFD.jpg" width="280" height="300">

  </div>

</div>

<h1 class="text-section">Lançamentos</h1>
<div fxLayout="row" fxLayoutAlign="center none" class="cards">
  <div class="series">
    <img src="https://www.themoviedb.org/t/p/original/lJCe6cQl4PfFMIN4jZCSrEpOXW.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/bOggWFHLSn0MgDpiInbvurx2m1X.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/a80pxtZrNSyqrME9rmFC6sZevZ7.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/i0uajcHH9yogXMfDHpOXexIukG9.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/7LMSllDXEVBBwY7yQop2CY0AW7I.jpg" width="280" height="300">
  </div>

</div>
