.form-search{
  text-align: center;
  margin-top: 50px;
}
.busca{
  display: flex;
  flex-direction: row;
}
.mat-card{
  height: 300px;
  width: 300px;
  margin: auto;
  background-color: #9932CC;
}
.detalhes{
  background-color: #FFCC00;
  width: 150px;
}
