<mat-card class="mat-card-listagem" *ngFor="let fav of favoritos">
  <mat-card-header>
            <mat-card-title>
              {{fav.titulo}}
            </mat-card-title>
    <mat-card-actions>
      <button mat-icon-button (click)="remover(fav)"><mat-icon class="lixo">delete</mat-icon></button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-header *ngIf="fav.imagem" class="img-filme">
            <img src="{{fav.imagem}}" width="180" height="180">
  </mat-card-header>
  </mat-card>
