.estado{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.title h2{
  padding-top: 30px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}


.cards-filmes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.cards{
  width: 250px;
  height: 130px;
  margin-top: 5px;
  background-color: #4758a8;
  align-items: center;
}

.btn-comprar{
  padding: 10px;
  border-radius: 5px;
  background-color: #ae53a0;
  position:absolute;
  bottom:4%;
  left: 20%;

}
.btn-comprar a{
  text-decoration: none;
  color: #000;
}
.btn-comprar:hover{
  background-color: #722670;
}
