.estado{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.title h2{
  padding-top: 30px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', 'Open Sans', sans-serif;

}

.cards-filmes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.cards{
  width: 250px;
  height: 120px;
  margin-top: 5px;
  background-color: darkslateblue;
}

.btn-comprar{
  padding: 8px;
  border-radius: 5px;
  background-color: #FFCC00;
  margin-left: 10px;
  margin-top: 20px;
}
.btn-comprar a{
  text-decoration: none;
  color: #000;
}
