
<h1 class="text-section" [routerLink]="['/filmes-da-semana']">Filmes da Semana</h1>
<div fxLayout="row" fxLayoutAlign="center none" class="cards">
  <div class="filmes">
    <img src="https://www.themoviedb.org/t/p/original/725WE0Qb1BbUF7aGvjiQqzzffpg.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/fVzXp3NwovUlLe7fvoRynCmBPNc.jpg" width="280" height="300" [routerLink]="['/detalhe']">
    <img src="https://www.themoviedb.org/t/p/original/cKNxg77ll8caX3LulREep4C24Vx.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/11MJy6lkt7yTEIowEPIkaK4B7lM.jpg" width="280" height="300">
  </div>

</div>

<h1 class="text-section" [routerLink]="['/aclamados-pela-critica']">Aclamados pela Crítica</h1>
<div fxLayout="row" fxLayoutAlign="center none" class="cards">
  <div class="filmes">
    <img src="https://www.themoviedb.org/t/p/original/725WE0Qb1BbUF7aGvjiQqzzffpg.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/fVzXp3NwovUlLe7fvoRynCmBPNc.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/cKNxg77ll8caX3LulREep4C24Vx.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/11MJy6lkt7yTEIowEPIkaK4B7lM.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/725WE0Qb1BbUF7aGvjiQqzzffpg.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/cKNxg77ll8caX3LulREep4C24Vx.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/11MJy6lkt7yTEIowEPIkaK4B7lM.jpg" width="280" height="300">

  </div>

</div>

<h1 class="text-section" [routerLink]="['/mais-esperados']">Mais Esperados do Ano</h1>
<div fxLayout="row" fxLayoutAlign="center none" class="cards">
  <div class="filmes">
    <img src="https://www.themoviedb.org/t/p/original/725WE0Qb1BbUF7aGvjiQqzzffpg.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/fVzXp3NwovUlLe7fvoRynCmBPNc.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/cKNxg77ll8caX3LulREep4C24Vx.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/11MJy6lkt7yTEIowEPIkaK4B7lM.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/725WE0Qb1BbUF7aGvjiQqzzffpg.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/fVzXp3NwovUlLe7fvoRynCmBPNc.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/cKNxg77ll8caX3LulREep4C24Vx.jpg" width="280" height="300">
    <img src="https://www.themoviedb.org/t/p/original/11MJy6lkt7yTEIowEPIkaK4B7lM.jpg" width="280" height="300">
  </div>

</div>
