
<mat-card class="card-insercao">
  <mat-card-header>
    <mat-card-title class="title-card">DEIXE SUA CRÍTICA</mat-card-title>
  </mat-card-header>

  <mat-card-content class="content">
    <mat-form-field appearance="outline" class="input-cadastro">
      <mat-label>Selecione a Categoria da Crítica</mat-label>
      <mat-select>
        <mat-option value="serie">Série</mat-option>
        <mat-option value="filme">Filme</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mat-form-simples">
      <mat-label>Nome do Crítico</mat-label>
      <input matInput [(ngModel)]="critica.nome" placeholder="Digite seu nome" type="text">
    </mat-form-field>
    <mat-form-field class="mat-form-simples">
      <mat-label>Nome da Obra</mat-label>
      <input matInput [(ngModel)]="critica.titulo" placeholder="Digite o nome da obra" type="search">
    </mat-form-field>
    <mat-form-field  class="mat-form-simples">
      <mat-label>Avaliar</mat-label>
      <textarea matInput [(ngModel)]="critica.mensagem" placeholder="Escreva sua critica"  maxlength="100"></textarea>
    </mat-form-field>

  </mat-card-content>
  <mat-card-footer class="mat-card-footer-grid">
    <button mat-stroked-button color="white" (click)="inserir()" class="button-footer" >
      AVALIAR
    </button>
  </mat-card-footer>
</mat-card>

<div class="button-section">
  <button mat-stroked-button [routerLink]="['/listar-critica']" class="text-button">
    MOSTRAR TODAS AS CRÍTICAS
  </button>
</div>
