
<mat-card class="card-insercao">
  <mat-card-header>
    <mat-card-title class="title-card">DEIXE SUA CRÍTICA</mat-card-title>
  </mat-card-header>

  <mat-card-content class="content">

    <mat-form-field class="mat-form-simples">
      <mat-label>Nome do Crítico</mat-label>
      <input matInput [(ngModel)]="critica.nomeDoCritico" placeholder="Digite seu nome" type="text" #nome>
    </mat-form-field>
    <mat-form-field  class="mat-form-simples">
      <mat-label>Avaliar</mat-label>
      <textarea matInput [(ngModel)]="critica.mensagem" placeholder="Escreva sua critica"  maxlength="100" #mensagem></textarea>
    </mat-form-field>

  </mat-card-content>
  <mat-card-footer class="mat-card-footer-grid">
    <button mat-stroked-button color="white" (click)="inserir( critica.id_filme || 1, mensagem.value)" class="button-footer" >
      AVALIAR
    </button>
  </mat-card-footer>
</mat-card>

<div class="button-section">
  <button mat-stroked-button [routerLink]="['/listar-critica']" class="text-button">
    MOSTRAR TODAS AS CRÍTICAS
  </button>
</div>
