<div class="detalhe">
  <mat-card  *ngFor="let d of detalhe" class="mat-card-listagem">
    <mat-card-header>
      <mat-card-title class="mat-card-title">{{d.titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="informacoes">
        <img src="{{d.imagem}}" width="180" height="180">
        <div>
          <p>Data de Lançamento: {{d.dataLancamento}}</p>
          <p>Duração: {{d.duracao}}</p>
          <p>Gênero: {{d.genero}}</p>
          <p> Elenco: {{d.atores}}</p>
          <p>Diretor: {{d.diretor}}</p>
        </div>
      </div>
      <div  class="sinopse">
        <span>Sinopse: {{d.sinopse}}</span>
      </div>
    </mat-card-content>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <div class="estrelas">
        <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
        <label for="cm_star-1"><i class="fa"></i></label>
        <input type="radio" id="cm_star-1" name="fb" value="1"/>
        <label for="cm_star-2"><i class="fa"></i></label>
        <input type="radio" id="cm_star-2" name="fb" value="2"/>
        <label for="cm_star-3"><i class="fa"></i></label>
        <input type="radio" id="cm_star-3" name="fb" value="3"/>
        <label for="cm_star-4"><i class="fa"></i></label>
        <input type="radio" id="cm_star-4" name="fb" value="4"/>
        <label for="cm_star-5"><i class="fa"></i></label>
        <input type="radio" id="cm_star-5" name="fb" value="5"/>
      </div>
  </mat-card>
</div>
