<mat-toolbar color="primary" class="menu">
  <img src="/assets/logomovie.png" alt="" class="logo" [routerLink]="['/']" />
  <div class="loc">
    <mat-icon>room icon</mat-icon>
    <p>localização/CEP</p>
  </div>

  <div class="navbar">
    <button [routerLink]="['/filmes']" mat-button class="menu-text" [matMenuTriggerFor]="filmes" >FILMES</button>
    <mat-menu #filmes="matMenu">
      <button mat-menu-item>Filmes da Semana</button>
      <button mat-menu-item>Aclamados pela Crítica</button>
      <button mat-menu-item>Mais esperados do Ano</button>
    </mat-menu>
    <button mat-button class="menu-text" [matMenuTriggerFor]="serie">SÉRIES</button>
    <mat-menu #serie="matMenu">
      <button mat-menu-item>Em alta</button>
      <button mat-menu-item>Vencedoras do Emmy</button>
      <button mat-menu-item>Lançamentos</button>
    </mat-menu>
    <button mat-button class="menu-text" [matMenuTriggerFor]="cinema">CINEMAS</button>
    <mat-menu #cinema="matMenu">
      <button mat-menu-item>Buscar por cidade</button>
      <button mat-menu-item>Filmes em cartaz</button>
      <button mat-menu-item>Em breve</button>
    </mat-menu>
    <button mat-button class="menu-text" [matMenuTriggerFor]="criticas">CRÍTICAS</button>
    <mat-menu #criticas="matMenu">
      <button mat-menu-item>Avaliar uma Série</button>
      <button mat-menu-item>Avaliar um Filme</button>
      <button mat-menu-item>Últimas avaliações</button>
    </mat-menu>
  </div>
  <button mat-button class="menu-text">FAVORITOS</button>
  <button mat-icon-button  [matMenuTriggerFor]="menuUsuario"  >
    <mat-icon>person</mat-icon>
    <mat-menu #menuUsuario="matMenu">
      <button mat-menu-item>Meu Perfil</button>
      <button mat-menu-item [routerLink]="['/login']">Login</button>
      <button mat-menu-item [routerLink]="['/cadastrarusuario']" >Cadastrar-se</button>
    </mat-menu>
  </button>

</mat-toolbar>

