.cadastro-user{
  margin: 50px 30px 40px 30px;
  padding-bottom: 5px;
}
.cadastro-user mat-form-field{
  padding-top: 2px;
  font-family: 'Montserrat', 'Open Sans', sans-serif;

}
.img-logo h3{
  margin-top: 20px;
  font-size: 22px;
  color: whitesmoke;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}


.input-cadastro{
  width: 300px;
  color: whitesmoke;

}

mat-label{
  color: whitesmoke;
}
.mat-form-field input{
  color: black;
}
mat-label{
  color: black;
}
